{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">
    </head>
    <body>
        <div id="about">
            <h1 class="heading">About Me</h1>
            <div class="about">
                <img src="{% static 'css/about.jpg' %}" alt="My pic">
                <div class="name">
                    <h2>I'M ARSHAD P</h2>
                    <p>
                            I am basically from Kannur District in kerala but currently staying in ernakulam.
                        I did my graduation in Bachelor of Computer Application from Hamdard University.
                        Currently i am pursuing Python Full Stack Devolopment in Techmindz Corperate Training platform
                        kochi. I belong to a nuclear family.
                        My StrengthKnowing how to write about yourself is necessary for many job positions. Some of the most ordinary situations when people would require this for professional reasons is to explain themselves to an employer in a job interview. While your biography or previous presentation record normally has an enormous load in evaluating your application, some aspects may only be conveyed by you in an evidently-formulated way.  So, below we have aligned out the vital information about the same for candidates to acquire and easily describe themselves
                        Knowing how to write about yourself is necessary for many job positions. Some of the most ordinary situations when people would require this for professional reasons is to explain themselves to an employer in a job interview. While your biography or previous presentation record normally has an enormous load in evaluating your application, some aspects may only be conveyed by you in an evidently-formulated way.  So, below we have aligned out the vital information about the same for candidates to acquire and easily describe themselves
                    </p>
                </div>
            </div>
        </div>


    </body>
</html>