{% load static %}
<html>
    <head>
        <title>
            Education
        </title>
        <link rel="stylesheet" href="{% static 'css/education.css' %}" >
    </head>
    <body>
        <div class="education">
            <h1 class="heading">Education</h1>
            <div class="columns">
                <div class="box">
                    <h2>MASTER IN CLOUD COMPUTING</h2>
                    <p>JETKING KOCHI LEARNING CENTRE<br>
                        KOCHI- 2022
                    </p>
                </div>
                <div class="box">
                    <h2>BACHELOR OF COMPUTER APPLICATION</h2>
                    <p>JAMIA HAMDARD KANNUR CAMPUS<br>
                        HAMDARD UNIVERSITY<br>
                        2018-2021
                    </p>
                </div>
                <div class="box">
                    <h2>PLUSTWO /KERALA STATE BOARD</h2>
                    <p>EMSSGHSS PAPPINISSER<br>
                        KANNUR-KERALA<br>
                        2016-2018
                    </p>
                </div>

                <div class="box">
                    <h2>SSLC KERALA STATE BOARD</h2>
                    <p>HIDAYATH ENGLISH MEDIUM HIGH SCHOOL <BR>
                        PAPPNISSERI - KANNUR<BR>
                        2016
                    </p>
                </div>

            </div>
        </div>
    </body>
</html>
